<!-- Open the modal using ID.showModal() method -->
<dialog id="confirmationmodal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Load Method</h3>
    <p class="py-4">Do you wish to overwrite or append your file.</p>
    <p class="py-1">Note : In Overwrite, your existing data will be deleted.</p>
    <div class="modal-action">
      <form method="dialog" id="options">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn" id = "append" >Append</button>
        <button class="btn btn-accent ml-2" id="overwrite">Overwrite</button>
      </form>
    </div>
  </div>
</dialog>