<!DOCTYPE html>
<html lang="en" data-theme="business">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>autocorrecter</title>
  <link rel="stylesheet" href="/css/output.css" />
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body class="flex flex-col justify-around h-dvh p-5">
  <div class="heading text-5xl mb-4 text-center text-cyan-600" id="heading">
    Git Autocorrect --Force
  </div>

  <div class="divider">Actions Menu</div>
  <div class="head"></div>
  <div class="actions flex gap-3">

    <form class="fileinput flex">

      <input type="file" id="file-input" class="file-input file-input-bordered w-full max-w-xs" placeholder="Load A .txt File" />
      <input type="submit" id="load-btn" class="btn ml-2 join-item" onclick="" value="Load"></input>

    </form>
    <div class="divider divider-horizontal"></div>
    <button class="btn join-item" onclick="triggerFileDownload();">Download</button>
    <div class="divider divider-horizontal"></div>


   
    <div class="divider divider-horizontal"></div>
    <select class="select select-bordered w-full max-w-xs" id="option">
      <option selected value="1">Normie Mode (Corrects wrong words)
      </option>
      <option value="2">Dyslexic (Incorrects right words but spares common words like has him is)</option>
      <option value="3">Arigato Kudasai (Total Chaos)
      </option >
      <option value="4">Cheems (translates to cheemglish)
      </option >
    </select>


  </div>



  <div class="divider">Text Box</div>
  <div class="textbox flex-1 flex ">
    <label class="form-control w-full">

      <textarea id="textarea" class="textarea textarea-bordered h-full mb-2"></textarea>
      <div class="label">
        <span class="label-text-alt" id="chars">Chars : </span>
        <span class="label-text-alt" id="words">Words : </span>
      </div>
    </label>
  </div>
  <div class="information h-10 bg-primary"></div>
<%- include('./partials/confirmationModal.ejs') %>

</body>
<footer></footer>
<script src="/js/detectWord.js"></script>
<script src="/js/autoCorrectResponse.js"></script>
<script src="/js/autoCorrectRequest.js"></script>
<script src="/js/fileDownload.js"></script>
<script src="/js/fileUpload.js"></script>
<script src="/js/updateUI.js"></script>

</html>
